<app-header></app-header>


<!-- ***** Main Banner Area Start ***** -->
<div class="about-main-content" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="blur-bg" >
            </div>
            <h4>Collaborations en Vedette</h4>
            <div class="line-dec"></div>
            <h2>Bienvenue à BIZMATCH</h2>
            <p>Découvrez des collaborations innovantes qui façonnent l'avenir des affaires B2B.</p>
            <div class="main-button">
              <a routerLink="/home">Découvrez maintenant</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ***** Main Banner Area End ***** -->

<!-- ***** Featured Collaborations Section Start ***** -->
<div class="weekly-offers">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="section-heading text-center">
                  <h2>Collaborations en Vedette</h2>
                  <p>Découvrez des collaborations innovantes qui façonnent l'avenir des affaires B2B.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="owl-weekly-offers owl-carousel">
                  <!-- Ajoutez ici des informations sur les collaborations en vedette -->
                  <div class="item">
                      <div class="thumb">
                          <img src="assets/images/featured-collab-01.jpg" alt="">
                          <div class="text">
                              <h4>Projet Innovant X</h4>
                              <p>Une collaboration révolutionnaire entre des entreprises de pointe.</p>
                              <div class="line-dec"></div>
                              <ul>
                                  <li>Domaines :</li>
                                  <li><i class="fa fa-lightbulb"></i> Technologie Avancée</li>
                                  <li><i class="fa fa-globe"></i> Expansion Globale</li>
                                  <li><i class="fa fa-users"></i> Plus de 50 Partenaires</li>
                              </ul>
                              <div class="main-button">
                                  <a href="collaboration-details.html">En Savoir Plus</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Ajoutez d'autres collaborations en vedette au besoin -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Featured Collaborations Section End ***** -->

<!-- ***** Call to Action Section Start ***** -->
<div class="call-to-action">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <h2>Recherchez-vous des opportunités B2B ?</h2>
              <h4>Postulez dès maintenant pour des offres de travail intéressantes.</h4>
          </div>
          <div class="col-lg-4">
              <div class="border-button">
                  <a routerLink="/home" href="job-application.html">Postuler Maintenant</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Call to Action Section End ***** -->

<app-footer></app-footer>
