body{
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: "Arial";
  }
  
  .share{
    width: 200px;
    height: 200px;
    margin: 5em auto;
    background: #fff;
    text-align: center;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .share a{
    display: inline-block;
    width: 100px;
    height: 200px;
    float: left;
    position: relative;
    text-indent: -9999px;
    z-index: 9999;
  }
  
  .share:after{
    content: "Suivez-Nous";
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    font-size: 25px;
    font-weight: normal;
    font-style: bold;
    text-transform: uppercase;
    color: #000000; 
  }
  
  .share a.fb{
    background: #22b3c1 url(https://cdn1.iconfinder.com/data/icons/social-media-icons-2/83/facebook_64x83.png) no-repeat center;
    top: -200px;
    transition: all 0.3s ease-in-out;
  }
  
  .share a.tw{
    background: #28abe1 url(https://cdn1.iconfinder.com/data/icons/social-media-icons-2/83/linkedin_64x83.png) no-repeat center;
    bottom: -200px;
    transition: all 0.3s ease-in-out;
  }
  
  .share:hover a.fb{
    top: 0;
  }
  
  .share:hover a.tw{
    bottom: 0;
  }


  body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #22b3c1;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #22b3c1;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #22b3c1;
    border: none;
    cursor: pointer;
}
  

