<app-header></app-header>
<!-- ***** Main Banner Area Start ***** -->
<section id="section-1">
  <div class="content-slider">
    <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
    <input type="radio" id="banner2" class="sec-1-input" name="banner">
    <input type="radio" id="banner3" class="sec-1-input" name="banner">
    <input type="radio" id="banner4" class="sec-1-input" name="banner">
    <div class="slider">
      <div id="top-banner-1" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Découvrez les Opportunités de Bizmatch</h2>
            <h1>Recherchez des Partenaires Commerciaux</h1>
            <div class="border-button"><a href="about.html">connectez-vous </a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Nombre d'Entreprises:</span><br>25,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Pourcentage des matchs:</span><br>10,000 %</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>Investissement Initial Moyen:</span><br>$100,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a routerLink="/premium">En Savoir Plus</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-2" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Découvrez Bizmatch, la Plateforme B2B</h2>
            <h1>Connectez Votre Entreprise</h1>
            <div class="border-button"><a href="about.html">En Savoir Plus</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Entreprises Répertoriées:</span><br>10,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Utilisateurs Actifs:</span><br>50,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>Partenaires Potentiels:</span><br>5,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a routerLink="/premium">Rejoignez-nous</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-3" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Explorez Bizmatch pour un Monde de Possibilités</h2>
            <h1>Connectez-vous au Marché Mondial</h1>
            <div class="border-button"><a href="about.html">Découvrir Maintenant</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-building"></i>
                      <h4><span>Entreprises Partenaires:</span><br>15,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-users"></i>
                      <h4><span>Utilisateurs Actifs:</span><br>100,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-handshake"></i>
                      <h4><span>Partenariats Réussis:</span><br>5,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a routerLink="/premium">Rejoignez la Révolution</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-4" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Explorez Bizmatch pour une Connectivité Globale</h2>
            <h1>Trouvez des Partenaires Commerciaux à l'Échelle Mondiale</h1>
            <div class="border-button"><a href="about.html">Découvrir Plus</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-building"></i>
                      <h4><span>Entreprises Répertoriées:</span><br>20,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Marchés Disponibles:</span><br>200+</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-handshake"></i>
                      <h4><span>Partenariats Créés:</span><br>10,000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a routerLink="/premium">Joignez-vous à Nous</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="controls">
        <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
        <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
        <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
        <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
      </div>
    </nav>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<div class="visit-country">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-heading">
          <h2>Explorez Nos Appels d'Offres Actuels</h2>
          <p>Découvrez des opportunités de partenariat commercial avec les sociétés du monde entier.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="items">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <div class="row">
                  <div class="col-lg-4 col-sm-5">
                    <div class="image">
                      <img src="assets/images/company-01.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-sm-7">
                    <div class="right-content">
                      <h4>Société Ey</h4>
                      <span>Technologie</span>
                      <div class="main-button">
                        <a (click)="redirectToMatch()" >Match </a>
                      </div>
                      <p>Découvrez les derniers appels d'offres de la Société EY et explorez de nouvelles opportunités commerciales passionnantes.</p>
                      <ul class="info">
                        <li><i class="fa fa-handshake"></i> 20 Offres</li>
                        <li><i class="fa fa-globe"></i> Secteur informatique et financiers</li>
                        <li><i class="fa fa-money"></i> Budget: 1,000 TND</li>
                      </ul>
                      <div class="text-button">
                        <a href="bizmatch.html">Voir les Détails <i class="fa fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <div class="row">
                  <div class="col-lg-4 col-sm-5">
                    <div class="image">
                      <img src="assets/images/company-02.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-sm-7">
                    <div class="right-content">
                      <h4>Société Ikea</h4>
                      <span>Technologie</span>
                      <div class="main-button">
                        <a >Match</a>
                      </div>
                      <p>Explorez les opportunités offertes par la Société Ikea et trouvez des partenaires pour vos projets innovants.</p>
                      <ul class="info">
                        <li><i class="fa fa-handshake"></i> 15 Offres</li>
                        <li><i class="fa fa-globe"></i> Secteur Technologique</li>
                        <li><i class="fa fa-money"></i> Budget: 3,000 TND</li>
                      </ul>
                      <div class="text-button">
                        <a href="bizmatch.html">Voir les Détails <i class="fa fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <ul class="page-numbers">
                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="side-bar-map">
          <div class="row">
            <div class="col-lg-12">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>